{
    "imagekit": {
        "public_key": CHANGEME,
        "private_key": CHANGEME,
        "url_endpoint": CHANGEME
    },

    "imagga": {
        "key": CHANGEME,
        "secret": CHANGEME
    }
}
